html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  margin-top: 0px;
  padding: 0 15px;
  color: #ece8e8;
  display: inline-block;
  font-size: 48px;
}

.navbar {
  background-color: #23415c;
  padding: 1% 0;
  font-size: 16px;
}

.navbar-default .navbar-nav li a {
  color: #ece8e8;
  font-size: 24px;
  margin-top: 5px;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active {
  color: #2e8cd8;
}

#home {
  background: url(images/home.jpg) no-repeat center center fixed;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}
.info {
  padding: 80px;
}

.info img {
  width: 100%;
}

.card {
  margin-top: 100px;
  text-align: center;
}

footer {
  background-color: #23415c;
  padding: 1% 0;
  color: #ece8e8;
}
