html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #23415C;
    padding: 1% 0;
    font-size: 16px;
}

h1{
    margin-top: 0px;
    padding: 0 15px;
    color: #ece8e8;
}

.navbar-default .navbar-nav li a {
    color: #ece8e8;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:activ {
    color: 3fff
}

#home {
    background: url(images/home.jpg);
}








